html,
body,
#tv {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#tv {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	z-index: 0;
}

div {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;

	align-items: center;
  justify-content: center;
}

h1 {
	font: normal 16px/1.5 BlinkMacSystemFont, -apple-system, 'Roboto', 'Segoe UI', 'Arial Unicode MS', sans-serif;
	color: #fff;
	font-size: 10vw;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.02em;
	text-align: center;
	width: 100%;
	margin: 0;
}