* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html,
body {
	font: normal 16px/1.5 BlinkMacSystemFont, -apple-system, "Roboto", "Segoe UI", "Arial Unicode MS", sans-serif;
	background-color: #000;
	color: #fff;
	padding: 0;
	margin: 0;
}

a {
	color: currentColor;
	border-bottom: 1px solid currentColor;
	text-decoration: none;
}

h1 {
	margin: 0;
	font-size: 4.5em;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.02em;
}

h1 a, 
h2 a {
	border: none;
}

header,
main,
footer {
	display: block;
	margin: 0 25% 0 0;
	position: relative;
	max-width: 900px;
}

header {
	margin-top: 10em;
}


#nav {
	position: fixed;
	right: 2em;
	bottom: 3em;
	width: 15%;
	transition: opacity 0.1s ease-in-out;
}

	#nav:hover {
		opacity: 1 !important;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		padding: 5px 0;
	}

	#nav a {
		display: inline-block;
	}


.genre {
	position: relative;
	margin: 0 0 0 25%;
	padding: 0 0 10em;
}

	.art {
		padding-top: 100%;
		background-color: pink;
		margin: 0 0 2em;
		background-size: cover;
	}

	.vertical {
		position: absolute;
		bottom: 100%;
		right: 110%;
		min-width: 500px;
		text-align: right;
		transform-origin: 100% 100%;
		transform: rotate(270deg);
	}

	.total {
		font-weight: 500;
	}

	.desc, 
	.list, 
	.more {
		font-family: "Georgia", "Times", serif;
		font-size: 1.125em;
	}

	.desc {
		max-width: 400px;
	}

	.list {
		margin: 2em 0;
	}

	.more {
		text-decoration: none;
		display: inline-block;
		color: currentColor;
		border-bottom: 1px solid currentColor;
	}


footer {
	margin: 0 25%;
	padding: 2em 0;
}

	h2 {
		line-height: 1;
		margin: 0 0 0.5em;
	}


@media (min-width: 1200px) {
	#nav {
		right: 0;
		left: 990px;
	}
}

@media (max-width: 800px) {
	header, 
	main,
	footer {
		margin-right: 0;
		padding-left: 2em;
		padding-right: 2em;
	}
	#nav {
		position: relative;
		bottom: 0;
		right: 0;
		width: 100%;
	}

	h1 {
		font-size: 4em;
	}
}


@media (max-width: 600px) {
	header, 
	main,
	footer {
		padding-left: 0;
		padding-right: 0;
	}
	header {
		margin-top: 4em;
	}

	.genre {
		margin: 0;
		padding: 0 1.25em 5em;
	}

	h1 {
		font-size: 3em;
		margin-bottom: 0.25em;
	}

	.vertical {
		position: relative;
		right: 0;
		text-align: left;
		min-width: 100%;
		transform: rotate(0deg);
	}

	.padding {
		padding: 0 10px;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 0 0 5%;
	justify-content: flex-start;
}

	.grid li {
		list-style: none;
		padding: 2em 10px;
		width: 25%;
		max-width: 200px;
	}

	.grid a {
		display: block;
		border: none;
	}

	.grid b {
		font-weight: 400;
	}

	.grid i {
		font-style: normal;
		opacity: 0.8;
		font-size: 0.875em;
	}

	.img {
		width: 100%;
		padding-top: 100%;
		background-color: rgba(128,128,128,0.2);
		margin-bottom: 10px;
		background-size: cover;
	}


.page {
	padding: 5em 0;
	display: flex;
	margin: 0 0 0 25%;
}

	.page div {
		padding: 0 1em;
	}


@media (max-width: 800px) {
	.page {
		margin: 0;
	}
	.grid {
		margin: 0 auto;
	}
	.grid li {
		padding: 2em 8px;
	}
}

@media (max-width: 700px) {
	.grid li {
		width: 33.333%;
	}
}

@media (max-width: 600px) {
	.grid li {
		width: 50%;
	}
}